body{
    background-color: rgb(58, 5, 61);
    color: aliceblue;
}
h1 {
    color: aqua;
    font-size: 32px;
    text-align: center;
}

.Sumário{
    width: 50%;
    background-color: rgb(62, 44, 150);
    margin: 0 auto;
    text-align: center;
}

.Conexão{
    width: 70%;
    background-color: rgb(62, 44, 150);
    margin: 0 auto;
    text-align: center;
}


